<h1>Reactive Validations</h1>
<h2>Register Form</h2>
<hr />

<div class="row">
  <div class="col">
    <form [formGroup]="registerForm" (ngSubmit)="send()">
      <!-- Name -->
      <div class="mb-3">
        <label for="name" class="form-label"
          >Name <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Full Name"
          formControlName="name"
        />
        <span *ngIf="isValidField('name')" class="small text-danger-emphasis"
          >Name must have at least name and last-name</span
        >
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label"
          >Email <span class="text-danger">*</span></label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <span
          *ngIf="getErrorMessage('email') as errorMessage"
          class="small text-danger-emphasis"
          >{{ errorMessage }}</span
        >
      </div>

      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
          formControlName="username"
        />
        <div *ngIf="isValidField('username')">
          <span
            *ngIf="registerForm.controls.username.errors?.['required']"
            class="small text-danger-emphasis d-block"
            >This field is required</span
          >
          <span
            *ngIf="registerForm.controls.username.errors?.['errorPattern']"
            class="small text-danger-emphasis d-block"
            >Username must follow alternating patter. eg. UsEr or uSeR</span
          >
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          *ngIf="isValidField('password')"
          class="small text-danger-emphasis d-block"
          >Password must be longer than 6 characters</span
        >
        <span
          *ngIf="isValidField('repeatPassword')"
          class="small text-danger-emphasis"
          >Password not match</span
        >
      </div>

      <!-- Repeat Password -->
      <div class="mb-3">
        <label for="repeat_password" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="repeat_password"
          placeholder="Confirm Password"
          formControlName="repeatPassword"
        />
        <span
          *ngIf="isValidField('repeatPassword')"
          class="small text-danger-emphasis"
          >Confirm Password not match</span
        >
      </div>

      <!-- Submit -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>

<hr />
<h2>Data Control</h2>
<h3>
  Form Valid:
  <span [class]="registerForm.valid ? 'text-success' : 'text-danger'"
    >{{ registerForm.valid }}
  </span>
</h3>
<h3>
  Form Status:
  <span [class]="registerForm.valid ? 'text-success' : 'text-danger'"
    >{{ registerForm.status }}
  </span>
</h3>
<h3>
  Form Pending:
  <span [class]="registerForm.valid ? 'text-success' : 'text-danger'"
    >{{ registerForm.pending }}
  </span>
</h3>
<hr />
<h3>Name errors</h3>
<pre>{{ registerForm.controls.name.errors | json }}</pre>
<h3>Email errors</h3>
<pre>{{ registerForm.controls.email.errors | json }}</pre>
<h3>Username errors</h3>
<pre>{{ registerForm.controls.username.errors | json }}</pre>
<h3>Passwords</h3>
<pre>{{ registerForm.controls.password.errors | json }}</pre>
<pre>{{ registerForm.controls.repeatPassword.errors | json }}</pre>
