<h1 class="mt-5">Nested Selects</h1>
<hr />

<form [formGroup]="myForm" (ngSubmit)="save()">
  <div class="row">
    <!-- select for regions -->
    <div class="col">
      <label for="region" class="form-label">Continent: </label>
      <select
        *ngIf="regions$ | async as regions"
        id="region"
        class="form-control"
        formControlName="region"
      >
        <option value="">--Select Continent--</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>

    <!-- select for countries -->
    <div class="col">
      <label for="country" class="form-label">Country: </label>
      <select
        *ngIf="countries$ | async as countries"
        id="country"
        class="form-control"
        formControlName="country"
        [class.disabled]="countries.length === 0"
      >
        <option value="">--Select Country--</option>
        <option *ngFor="let country of countries" [value]="country.cca3">
          {{ country.flag }} {{ country.name.common }}
        </option>
      </select>
    </div>

    <!-- select for borders -->
    <div class="col">
      <label for="border" class="form-label">Border: </label>
      <select
        *ngIf="borders$ | async as borders"
        id="border"
        class="form-control"
        formControlName="border"
        [class.disabled]="borders.length === 0"
      >
        <option value="">--Select Border--</option>
        <option *ngFor="let border of borders" [value]="border">
          {{ border }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button type="submit" class="btn btn-success float-end">Select</button>
    </div>
  </div>
</form>

<h4 class="mt-5">Form Data Validator</h4>
<pre> Valid: {{ myForm.valid }}</pre>
<pre>{{ myForm.value | json }}</pre>
