<h2>Reactive Form: Dynamics</h2>
<hr />

<form [formGroup]="myDynamicForm" (submit)="save()">
  <div class="mb-3">
    <label for="templateDynamicName" class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name" />
    <span class="form-text text-danger-emphasis" *ngIf="validateField('name')">
      Field required.
    </span>
  </div>
  <!-- Add games section -->
  <div class="mb-3">
    <label for="templateDynamicAdd" class="form-label">Addition</label>
    <div class="input-group mb-3" id="templateDynamicAdd">
      <input type="text" class="form-control" placeholder="Add favorite game" />
      <button class="btn btn-outline-success py-0" type="button">
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
  <!-- List of games -->
  <div class="mb-3">
    <label for="templateDynamicAdd" class="form-label">
      <i class="bi bi-star"></i> Favorites
    </label>
    <!-- <div
      class="input-group mb-1"
      *ngFor="let game of person.favorites; let id = index"
    >
      <input
        class="form-control"
        readonly
      />
      <button
        class="btn btn-outline-danger py-0"
        type="button"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div> -->
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
