<div class="row">
  <div class="col">
    <form (ngSubmit)="setSearchTerm()" autocomplete="off">
      <input
        type="text"
        name="term"
        class="form-control"
        [placeholder]="placeholder"
        [(ngModel)]="term"
        (input)="setTerm()"
      />
    </form>
    <ul class="list-group" *ngIf="suggestions.length">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let country of suggestions"
        (click) = "setSearchTerm(country.name)"
      >
        <img class="icon-flag" [src]="country.flag" />
        {{ country.name }}
      </li>
    </ul>
  </div>
</div>
