<h2>Template Form: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #templateBasicForm="ngForm">
      <div class="mb-3">
        <label for="templateBasicProduct" class="form-label">Product</label>
        <input
          type="text"
          class="form-control"
          id="templateBasicProduct"
          aria-describedby="productNameHelp"
          ngModel
          name="product"
          required
          minlength="3"
        />
        <div
          id="productNameHelp"
          class="form-text text-warning"
          *ngIf="validProduct()"
        >
          Must be at least 3 characters long.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicsPrice" class="form-label">Price</label>
        <div class="input-group mb-3" id="templateBasicsPrice">
          <span class="input-group-text">$</span>
          <!-- This input validates with form validators  -->
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            required
            min="0"
            ngModel
            name="price"
          />
          <span class="input-group-text">.00</span>
        </div>
        <div id="priceHelp" class="form-text text-warning" *ngIf="validPrice()">
          Invalid price.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicStock" class="form-label">Stock</label>
        <!-- This input validate with directives -->
        <input
          type="number"
          class="form-control"
          id="templateBasicStock"
          ngModel
          name="stock"
          customMin
          [minValue]="0"
          required
        />
        <div id="priceHelp" class="form-text text-warning" *ngIf="validStock() as errors">
          <span *ngIf="errors['customMin']">Invalid value.</span> 
          <span *ngIf="errors['required']">Value required.</span> 
        </div>
      </div>
      <span class='text-button' (click)="resetForm()">Clear</span>
      <button type="submit" class="btn btn-primary float-end">Submit</button>
    </form>
  </div>
</div>



<div class="row">
  <div class="col">
    <h5>
      Valid:
      <span
        [ngClass]="templateBasicForm.valid ? 'text-success' : 'text-danger'"
        >{{ templateBasicForm.valid }}</span
      >
    </h5>
    <h5>
      Pristine:
      <span
        [ngClass]="templateBasicForm.pristine ? 'text-success' : 'text-danger'"
        >{{ templateBasicForm.pristine }}</span
      >
    </h5>
    <h5>
      Touched:
      <span
        [ngClass]="templateBasicForm.touched ? 'text-success' : 'text-danger'"
        >{{ templateBasicForm.touched }}</span
      >
    </h5>
    <h5>Value</h5>
    <pre>{{ templateBasicForm.value | json }}</pre>
  </div>
</div>
