<div class="alert alert-info" *ngIf="!country; else countryContent">
  Loading...
</div>

<ng-template #countryContent>
  <div class="row">
    <div class="col-12">
      <h1>
        Country: <small>{{ country.name }}</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Flag</h3>
      <img class="img-thumbnail" [src]="country.flag" />
    </div>
    <div class="col-8">
      <h3>Information</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Population: </strong>{{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Code: </strong>{{ country.numericCode }}
        </li>
        <li class="list-group-item">
          <strong>Capital: </strong>{{ country.capital }}
        </li>
      </ul>
    </div>
  </div>

  <h3>Translations</h3>
  <div class="row">
    <div class="col">
      <span
        class="badge bg-success me-1"
        *ngFor="let item of country.translations | keyvalue"
      >
        {{ item.key | uppercase }}: {{ item.value }}
      </span>
    </div>
  </div>

  <pre class="mt-5">
    {{ country | json }}
  </pre>
</ng-template>
