<h2>Reactive Form: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form>
      <div class="mb-3">
        <label for="templateBasicProduct" class="form-label">Product</label>
        <input
          type="text"
          class="form-control"
          aria-describedby="productNameHelp"
        />
        <div
          id="productNameHelp"
          class="form-text text-warning"
        >
          Must be at least 3 characters long.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicsPrice" class="form-label">Price</label>
        <div class="input-group mb-3" id="templateBasicsPrice">
          <span class="input-group-text">$</span>
          <!-- This input validates with form validators  -->
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <span class="input-group-text">.00</span>
        </div>
        <div id="priceHelp" class="form-text text-warning">
          Invalid price.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicStock" class="form-label">Stock</label>
        <!-- This input validate with directives -->
        <input
          type="number"
          class="form-control"
        />
        <!-- <div
          id="priceHelp"
          class="form-text text-warning"
          *ngIf="validStock() as errors"
        >
          <span *ngIf="errors['customMin']">Invalid value.</span>
          <span *ngIf="errors['required']">Value required.</span>
        </div> -->
      </div>
      <button type="submit" class="btn btn-primary float-end">Submit</button>
    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="col">
    <h5>
      Valid:
      <span
        [ngClass]="templateReactiveForm.valid ? 'text-success' : 'text-danger'"
        >{{ templateReactiveForm.valid }}</span
      >
    </h5>
    <h5>
      Pristine:
      <span
        [ngClass]="templateReactiveForm.pristine ? 'text-success' : 'text-danger'"
        >{{ templateReactiveForm.pristine }}</span
      >
    </h5>
    <h5>
      Touched:
      <span
        [ngClass]="templateReactiveForm.touched ? 'text-success' : 'text-danger'"
        >{{ templateReactiveForm.touched }}</span
      >
    </h5>
    <h5>Value</h5>
    <pre>{{ initialForm | json }}</pre>
  </div>
</div> -->
