<h2>Reactive Form: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <form [formGroup]="myForm" (submit)="save()">
      <div class="mb-3">
        <label for="templateBasicProduct" class="form-label">Product</label>
        <input
          type="text"
          class="form-control"
          formControlName="product"
          aria-describedby="productNameHelp"
        />
        <div
          id="productNameHelp"
          class="form-text text-warning"
          *ngIf="validateField('product')"
        >
          Must be at least 3 characters long.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicsPrice" class="form-label">Price</label>
        <div class="input-group mb-3" id="templateBasicsPrice">
          <span class="input-group-text">$</span>
          <!-- This input validates with form validators  -->
          <input
            type="number"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
            formControlName="price"
          />
          <span class="input-group-text">.00</span>
        </div>
        <div
          id="priceHelp"
          class="form-text text-warning"
          *ngIf="validateField('price')"
        >
          Invalid price.
        </div>
      </div>
      <div class="mb-3">
        <label for="templateBasicStock" class="form-label">Stock</label>
        <!-- This input validate with directives -->
        <input type="number" class="form-control" formControlName="stock" />
        <div
          id="priceHelp"
          class="form-text text-warning"
          *ngIf="validateField('stock') as errors"
        >
          <!-- <span *ngIf="errors['customMin']">Invalid value.</span> -->
          <span *ngIf="validateField('stock') ">Value required.</span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary float-end"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <h5>
      Valid:
      <span [ngClass]="myForm.valid ? 'text-success' : 'text-danger'">{{
        myForm.valid
      }}</span>
    </h5>
    <h5>
      Pristine:
      <span [ngClass]="myForm.pristine ? 'text-success' : 'text-danger'">{{
        myForm.pristine
      }}</span>
    </h5>
    <h5>
      Touched:
      <span [ngClass]="myForm.touched ? 'text-success' : 'text-danger'">{{
        myForm.touched
      }}</span>
    </h5>
    <h5>Value</h5>
    <pre>
        {{ myForm.value | json }}
    </pre>
  </div>
</div>
