<h1>{{ title }}</h1>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="40px" style='margin-top: 30px;'>
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.gt-sm="40px">
      <mat-form-field fxFlex="100">
        <mat-label>Super Hero</mat-label>
        <input matInput type="text" required [(ngModel)]="hero.superhero" />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" required [(ngModel)]="hero.alter_ego" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>First Apparition</mat-label>
      <input
        matInput
        type="text"
        required
        [(ngModel)]="hero.first_appearance"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input matInput type="text" required [(ngModel)]="hero.characters" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <input matInput type="text" required [(ngModel)]="hero.publisher" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Picture URL</mat-label>
      <input matInput type="url" required [(ngModel)]="hero.alt_img" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="save-button"
      (click)="onSave()"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button
      mat-raised-button
      color="warn"
      class="save-button"
      (click)="onDelete()"
      *ngIf="hero.id"
    >
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
  <div fxFlex="50">
    <img [src]="hero | image" [alt]="hero.superhero" mat-card-image />
  </div>
</div>
